<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div *ngIf="user" class="modal-body">
            <h2>{{ user.userName }}</h2>
            <div>
                Name:
                <input [(ngModel)] = "user.userName" placeholder="Name" class="form-control"/>
            </div>
            <div>
                Email:
                <input [(ngModel)] = "user.email" placeholder="Email" class="form-control"/>
            </div>
            <div>
                Password:
                <input [(ngModel)] = "user.password" placeholder="Password" class="form-control"/>
            </div>
        
            <button (click)="updateUser(user);" *ngIf="user.id" class="btn btn-primary">Update</button>
            <button (click)="createUser(user);" *ngIf="!user.id" class="btn btn-primary">Add</button>
            <button (click)="deleteUser(user);" *ngIf="user.id" class="btn btn-danger">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" >Close</button>
        </div>
      </div>
  
    </div>
  </div>
